.form {
  &-group {
    display: flex;
    flex-direction: column;
  }
  &-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 1rem;
    &::after {
      content: attr(data-unit);
    }
    &[data-required="true"]::before {
      content: "*";
    }
  }
  &-label {
    flex-basis: max-content;
    text-transform: capitalize;
    &::after {
      content: ":";
    }
  }
  &-field {
    flex-basis: 15ch;
    flex-grow: 1;
    border-bottom: 2px solid;
    resize: none;
  }
  textarea {
    height: 10ch;
    flex-basis: 20ch;
    overflow-y: auto;
  }
  &-output {
    flex-basis: 100%;
    color: var(--danger-l-2);
    max-height: 0;
    transition: all 0.5s ease-in-out;
    &.show {
      max-height: 3ch;
    }
  }
  &-btns {
    padding-block: 1rem;
    display: flex;
    justify-content: space-evenly;
    :disabled {
      background: var(--disabled-l-1);
      cursor: no-drop;
    }
  }
  &-reset,
  &-add {
    padding: calc(var(--modalPad) / 5) calc(var(--modalPad) / 2);
    border-radius: var(--borderRadius);
    text-transform: capitalize;
    font-weight: bolder;
    cursor: pointer;
  }
  &-reset:not(:disabled) {
    background: var(--warning-l-3);
    &:hover {
      background: var(--warning-l-1);
    }
  }
  &-add:not(:disabled) {
    background: var(--success-l-4);
    &:hover {
      background: var(--success-l-1);
    }
  }
}
